
.rotate-container{
    margin: 0 auto;
    width: 40rem;
    height: 50rem;
}

.rotate-button{
    height: 30rem;
    position: absolute;
    transition: 0.2s;
    filter: opacity(50%);
}

.rotate-button:hover{
    transform: scale(1.3) rotate(10deg);
    filter: opacity(100%)
}
