html {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}

body{
    text-align: center;
}

@import"./_gallery.scss";
@import"./_colorchange.scss";
@import"./_clickme.scss";
@import"./_wobble.scss";
@import"./_rotate.scss";
@import"./_animations.scss";